## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

Jessica, 28/06/2025

In [1]:
import pandas as pd
import datetime as dt

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
df_2000 = pd.read_csv('Dados/gasolina_2000+.csv')
df_2010 = pd.read_csv('Dados/gasolina_2010+.csv')

# Como os dois df têm as mesmas colunas e estão na ordem correta, um concat já é o suficiente
df_bruto = pd.concat([df_2000, df_2010]).reset_index(drop=True)

df = df_bruto.copy()

/tmp/ipykernel_3504/1167438795.py:2: DtypeWarning: Columns (12,14,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2010 = pd.read_csv('Dados/gasolina_2010+.csv')

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

R.
Essas colunas estão sendo lidas de forma como string sendo que são números:
* DATA,
* MARGEM MÉDIA REVENDA,
* PREÇO MÉDIO DISTRIBUIÇÃO,
* DESVIO PADRÃO DISTRIBUIÇÃO,
* PREÇO MÍNIMO DISTRIBUIÇÃO,
* PREÇO MÁXIMO DISTRIBUIÇÃO,
* COEF DE VARIAÇÃO DISTRIBUIÇÃO

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120823 entries, 0 to 120822
Data columns (total 19 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Unnamed: 0                     120823 non-null  int64
 1   DATA INICIAL                   120823 non-null  object
 2   DATA FINAL                     120823 non-null  object
 3   REGIÃO                         120823 non-null  object
 4   ESTADO                         120823 non-null  object
 5   PRODUTO                        120823 non-null  object
 6   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 7   UNIDADE DE MEDIDA              120823 non-null  object
 8   PREÇO MÉDIO REVENDA            120823 non-null  float64
 9   DESVIO PADRÃO REVENDA          120823 non-null  float64
 10  PREÇO MÍNIMO REVENDA           120823 non-null  float64
 11  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 12  MARGEM MÉDIA REVENDA           120823 non-null  object
 13  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 14  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 15  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 16  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 17  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 18  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(2), object(12)
memory usage: 17.5+ MB

In [4]:
df.head(3)

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,1.19,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,0.89,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,1.18,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098

In [5]:
# Remove a coluna
df.drop('Unnamed: 0', axis=1, inplace=True)

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [6]:
print(type(df.loc[3,'DATA INICIAL']))

print(type(df.loc[3,['DATA INICIAL']]))

print(type(df.loc[[3],['DATA INICIAL']]))

<class 'str'>
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [7]:
print(type(df.loc[3,'DATA INICIAL']))

df['DATA INICIAL'] = pd.to_datetime(df['DATA INICIAL'], format='%Y-%m-%d')
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'], format='%Y-%m-%d')

print(type(df.loc[3,'DATA INICIAL']))

<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [8]:
# Usando a biblioteca Datetime
df['Dia'] = df['DATA FINAL'].dt.day
df['Mês'] = df['DATA FINAL'].dt.month
df['Ano'] = df['DATA FINAL'].dt.year

df.iloc[0:3, -3:]

   Dia  Mês   Ano
0   15    5  2004
1   15    5  2004
2   15    5  2004

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [9]:
print(type(df['PRODUTO'].value_counts()))

print(df['PRODUTO'].value_counts())

# Fazendo operação básicas com uma Serie
((df['PRODUTO'].value_counts() / df['PRODUTO'].value_counts().sum()) * 100).round(2)

<class 'pandas.core.series.Series'>
PRODUTO
GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: count, dtype: int64

PRODUTO
GASOLINA COMUM        19.51
GLP                   19.50
ETANOL HIDRATADO      19.40
ÓLEO DIESEL           17.54
GNV                   11.98
ÓLEO DIESEL S10        7.54
OLEO DIESEL S10        1.97
OLEO DIESEL            1.95
GASOLINA ADITIVADA     0.62
Name: count, dtype: float64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [10]:
linhas_gasolina = df['PRODUTO'] == 'GASOLINA COMUM'
print(linhas_gasolina)

df_gas = df.loc[linhas_gasolina]
df_gas .head(3)

0         False
1         False
2         False
3         False
4         False
          ...
120818    False
120819    False
120820    False
120821    False
120822    False
Name: PRODUTO, Length: 120823, dtype: bool

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,...,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,Dia,Mês,Ano
9256,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,...,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,15,5,2004
9257,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,...,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,15,5,2004
9258,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,...,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,15,5,2004

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [11]:
# Usando o Groupby ao invés de df_gas para aprender

group1 = df.groupby(['PRODUTO', 'Ano'])['PREÇO MÉDIO REVENDA'].mean()

print(group1)

group1.loc['GASOLINA COMUM'][[2008]].item()

PRODUTO           Ano
ETANOL HIDRATADO  2004    1.521847
                  2005    1.701161
                  2006    1.970608
                  2007    1.752209
                  2008    1.771463
                            ...
ÓLEO DIESEL S10   2015    3.035975
                  2016    3.252379
                  2017    3.329472
                  2018    3.686585
                  2019    3.749939
Name: PREÇO MÉDIO REVENDA, Length: 103, dtype: float64

2.6046061253561255

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [12]:
group2 = df.groupby(['PRODUTO', 'Ano', 'ESTADO'])['PREÇO MÉDIO REVENDA'].mean()
print(group2)
print('----\n')


print(group2.xs(('GASOLINA COMUM', 2014)))
print('----\n')

group2.xs(('GASOLINA COMUM', 2014, 'SAO PAULO')).item()

PRODUTO           Ano   ESTADO
ETANOL HIDRATADO  2004  ACRE              1.898515
                        ALAGOAS           1.414788
                        AMAPA             1.886606
                        AMAZONAS          1.631879
                        BAHIA             1.569061
                                            ...
ÓLEO DIESEL S10   2019  RORAIMA           3.651500
                        SANTA CATARINA    3.522038
                        SAO PAULO         3.544038
                        SERGIPE           3.690269
                        TOCANTINS         3.580615
Name: PREÇO MÉDIO REVENDA, Length: 2658, dtype: float64
----

ESTADO
ACRE                   3.405808
ALAGOAS                3.000212
AMAPA                  2.962462
AMAZONAS               3.159596
BAHIA                  3.016077
CEARA                  2.990808
DISTRITO FEDERAL       3.122808
ESPIRITO SANTO         3.000923
GOIAS                  3.098385
MARANHAO               2.985750
MATO GROSSO            3.109173
MATO GROSSO DO SUL     3.076308
MINAS GERAIS           2.975808
PARA                   3.118058
PARAIBA                2.858519
PARANA                 2.952404
PERNAMBUCO             2.935173
PIAUI                  2.825673
RIO DE JANEIRO         3.132115
RIO GRANDE DO NORTE    3.025192
RIO GRANDE DO SUL      2.960923
RONDONIA               3.204481
RORAIMA                3.094885
SANTA CATARINA         2.956981
SAO PAULO              2.865250
SERGIPE                2.935269
TOCANTINS              3.119519
Name: PREÇO MÉDIO REVENDA, dtype: float64
----

2.86525

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [13]:
df[df['PREÇO MÉDIO REVENDA'] > 5].value_counts(subset=['ESTADO', 'Ano'])

ESTADO          Ano
ACRE            2021    82
                2018    80
RIO DE JANEIRO  2018    62
ACRE            2019    61
                2020    59
                        ..
AMAPA           2004    33
SERGIPE         2004    33
ALAGOAS         2004    33
ACRE            2004    33
AMAPA           2021    21
Name: count, Length: 486, dtype: int64

In [14]:
media = df.groupby('ESTADO')['PREÇO MÉDIO REVENDA'].mean()
media_acima_5 = media[media > 5]
media_acima_5.sort_values(ascending=False)

ESTADO
ACRE                   14.314446
AMAPA                  14.262162
RORAIMA                13.989412
TOCANTINS              13.973487
MATO GROSSO            13.598674
RONDONIA               13.551935
PARA                   13.022828
DISTRITO FEDERAL       12.747411
MARANHAO               12.571495
PIAUI                  12.369888
GOIAS                  11.967700
MATO GROSSO DO SUL     11.492464
AMAZONAS               11.070416
CEARA                  10.863314
MINAS GERAIS           10.760187
SANTA CATARINA         10.691555
RIO GRANDE DO SUL      10.599684
SERGIPE                10.433733
RIO GRANDE DO NORTE    10.406287
PARANA                 10.394643
ALAGOAS                10.130299
ESPIRITO SANTO         10.059009
PARAIBA                10.046416
SAO PAULO              10.031501
RIO DE JANEIRO         10.018357
BAHIA                   9.898628
PERNAMBUCO              9.866559
Name: PREÇO MÉDIO REVENDA, dtype: float64

### 11. Qual a média de preço dos estados da região sul em 2012?

In [15]:
group = df.groupby(['REGIÃO','Ano'])['PREÇO MÉDIO REVENDA'].mean()
print(group)

group.xs(('SUL',2012)).item()

REGIÃO        Ano
CENTRO OESTE  2004     9.294357
              2005     9.316561
              2006     9.786558
              2007     9.803874
              2008     9.914386
                        ...
SUL           2017    12.436839
              2018    14.297836
              2019    14.654227
              2020    14.576190
              2021    15.478370
Name: PREÇO MÉDIO REVENDA, Length: 90, dtype: float64

9.842052564102564

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [16]:
group = df.groupby(['ESTADO', 'Ano'])['PREÇO MÉDIO REVENDA'].mean()
group

rio_ano = group.xs('RIO DE JANEIRO')

print(rio_ano.head(4))
print(rio_ano.shift(1).head(4)) # .shift(1) Joga o dados uma linha para baixo

variacao = (((rio_ano/rio_ano.shift(1))-1)*100).round(2)
variacao.head(4)

Ano
2004    7.062455
2005    7.204067
2006    7.690235
2007    7.830504
Name: PREÇO MÉDIO REVENDA, dtype: float64
Ano
2004         NaN
2005    7.062455
2006    7.204067
2007    7.690235
Name: PREÇO MÉDIO REVENDA, dtype: float64

Ano
2004     NaN
2005    2.01
2006    6.75
2007    1.82
Name: PREÇO MÉDIO REVENDA, dtype: float64

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [ ]:
# Ordena o DF
df_sorted = df.sort_values(['DATA FINAL', 'PREÇO MÉDIO REVENDA'])

# Maior e menor preço por date 
preco_max = df_sorted.loc[df_sorted.groupby('DATA FINAL')['PREÇO MÉDIO REVENDA'].idxmax()]
preco_min = df_sorted.loc[df_sorted.groupby('DATA FINAL')['PREÇO MÉDIO REVENDA'].idxmin()]

# DF
resultado = pd.DataFrame({
    'preco_max': preco_max.set_index('DATA FINAL')['PREÇO MÉDIO REVENDA'],
    'estado_max': preco_max.set_index('DATA FINAL')['ESTADO'],
    'preco_min': preco_min.set_index('DATA FINAL')['PREÇO MÉDIO REVENDA'],
    'estado_min': preco_min.set_index('DATA FINAL')['ESTADO'],
})

# Diferença entre o valor máximo e mínimo
resultado['var_absoluta'] = resultado['preco_max'] - resultado['preco_min']
resultado['var_%'] = resultado['preco_max']/resultado['preco_min']

resultado

,preco_max,estado_max,preco_min,estado_min,var_absoluta,var_%
DATA FINAL,,,,,,
2004-05-15,39.328,ACRE,0.768,SAO PAULO,38.560,51.208333
2004-05-22,39.117,ACRE,0.766,SAO PAULO,38.351,51.066580
2004-05-29,38.971,ACRE,0.823,SAO PAULO,38.148,47.352369
2004-06-05,39.046,ACRE,0.887,SAO PAULO,38.159,44.020293
2004-06-12,39.013,ACRE,0.894,SAO PAULO,38.119,43.638702
...,...,...,...,...,...,...
2021-04-03,103.443,MATO GROSSO,2.824,MATO GROSSO,100.619,36.629958
2021-04-10,105.194,MATO GROSSO,2.824,MATO GROSSO,102.370,37.250000
2021-04-17,103.497,MATO GROSSO,2.824,MATO GROSSO,100.673,36.649079
2021-04-24,105.096,MATO GROSSO,2.824,MATO GROSSO,102.272,37.215297
2021-05-01,103.915,MATO GROSSO,2.824,MATO GROSSO,101.091,36.797096